name: HACS Validation

on:
  push:
    branches:
      - main

jobs:
  validate:
    name: Validate HACS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration
